@model IEnumerable<FruitAndVegetableWarehouseManagement.Models.Product>

@{
    ViewData["Title"] = "Produkty";
}

<div>
    <h3>Produkty</h3>
    <table class="table border">
        <thead>
            <tr>
                <th style="width: auto" scope="col">Nazwa produktu</th>
                <th style="width: auto" scope="col">Dostawca</th>
                <th style="width: auto" scope="col">Cena sprzedaży</th>
                <th style="width: auto" scope="col">Cena kupna</th>
                <th style="width: auto" scope="col">Stan magazynu</th>
                <th style="width: auto" scope="col">Ostatnia dostawa</th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var product in Model)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Supplier.CompanyName</td>
                <td>@product.SellingPricePerKg zł/kg</td>
                <td>@product.BuyingPricePerKg zł/kg</td>
                <td>@product.KgsInStock kg</td>
                <td>@(product.LastSupplyDateString() ?? "brak")</td>
            </tr>
            }
        }
        <tr class="border-top">
            <td><a class="btn btn-outline-primary" asp-controller="Home" asp-action="AddProduct">Dodaj produkt</a></td>
            <td></td><td></td><td></td><td></td><td></td>
        </tr>
        </tbody>
    </table>
</div>
